@import "tailwindcss";
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
div,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}
