@import "tailwindcss";
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;

  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
}

html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
div,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

/* The switch - the box around the slider */
.switch {
  display: block;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b9b9b9;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.modalBg {
  position: fixed;
  inset: 0;
}

.modal {
  position: fixed;
  padding: 1rem;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  transform: translate(-50%, -50%);
}

form {
  background-color: #1a1a1ade;
  padding: 2rem;
}

[placeholder] {
  color: black;
}

@media screen and (max-width: 672px) {
  :root {
    --width-of-switch: 2.5em;
    --height-of-switch: 1.3em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
  }
}
